
body {
    padding: 0;
    margin: 0;
    background-color: #e6e6e6;
}

/*--------------------HEADER-----------------------*/

header {
    padding: 5em;
    color: #706c66;
    text-align: center;
    
}

header h1 {
    max-width: 20em;
    margin: auto;
    padding: 2em;
    font-family: blockhead-black-face, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

header p {
    font-size: 20px;
    color: #fff;
}

/*--------------------FOOTER-----------------------*/

footer {
    padding-top: 10em;
    text-align: center;
    margin: auto;
    color: #706c66;
}

/*--------------------CAROUSEL-----------------------*/

.container {
    padding: 5em;
    
   
}
.carousel {
    margin: auto;
    width: 500px;
}
.carousel .item {
    height: 500px;
    width: 500px;
  }
  
  .item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

 .carousel .black {
     color: #706c66;
     text-shadow: none;
  
  }

 